.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
  visibility: hidden;
}

.display-none { display: none !important }

@if (variable-exists(breakpoints)) {
  @each $bp-name, $bp-value in $breakpoints {
    @media (min-width: $bp-value) {
      .#{$bp-name}-hide { display: none !important }
    }
  }
}

